/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.align-s-st {
    align-self: flex-start;
}

.align-s-c {
    align-self: center;
}

.align-s-end {
    align-self: flex-end;
}

.grid {
    display: grid;
}



/* text helpers */

.colored-text {
    color: solid var(--clr5);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}

/* another */
.hidden {
    display: none;
}



.p1 {
    padding: 5px;
}

.p2 {
    padding: 10px;
}

.p3 {
    padding: 15px;
}

.p4 {
    padding: 20px;
}

.pad {
    padding: 10px;
}

.radius {
    border-radius: 10px;
}

.btn {
    border-radius: 40px;
    border: 1px solid gray;
    padding: 10px;
<<<<<<< HEAD
}

.point{
    cursor: pointer;
=======
>>>>>>> e89e5e164975a92bdaa63cc7eeb8df46b6c07907
}